.jumbotron{
    background-color: #2873ab;
    color:White;
    border: none;
    border-radius: 0px;
    text-align: center;
    font-size: larger;
    font-family: Open Sans,sans-serif;
}
h1{
    font-size: 60px;
    font-weight: 300;
}
