.main-details{
    height : 80vh;
    font-family: Open Sans,sans-serif;
    margin: 30%;
    margin-top: 100px;
    color:#2873ab;
}
h2{
    font-size: 38px;
}



.flashcrd{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    padding: 10px;
    text-align: center;
    margin-bottom: 0;
}
.flashcard1, .flashcard2, .flashcard3, .flashcard4{
    margin:10px;
    border: transparent;
    padding: 10px;
}   

